

.cart-container {
  width: 500px;

  margin: 40px auto;
  padding: 20px;

  background-color: #f8f9fa;

  border: 2px solid #ddd;
  border-radius: 10px;


  box-sizing: border-box;
}



.head {
  text-align: center;
  margin-bottom: 20px;
}



.cart-form {
  display: grid;


  grid-template-columns: 1fr 1fr;

  gap: 15px 20px;
}



.cart-form label {
  font-weight: bold;
  color: #333;
}



.cart-form input,
.cart-form textarea {
  width: 100%;

  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 6px;


  box-sizing: border-box;
}



.cart-form textarea {
  grid-column: span 2;
  height: 40px;
}



.cart-form button {
  grid-column: span 2;

  padding: 12px;

  background-color: #007bff;
  color: white;

  border: none;
  border-radius: 6px;

  font-size: 16px;
  cursor: pointer;
}

.cart-form button:hover {
  background-color: #0056b3;
}
.cart-container img {
  width: 120px;       
  height: 150px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto; 
  border-radius: 10px;    
}