.Signup-containerss {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1000px;
  width: 100%;

  margin: 60px auto;
  padding: 30px;

  background-color: #ffffff;
  gap: 50px;

  border-radius: 0 42px 42px 0;
  overflow: hidden;

 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sing-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.sing-img img {
  width: 100%;
  max-width: 480px;
  height: auto;
  border-radius: 0 42px 42px 0;
}

.signpage {
  flex: 1;
  max-width: 420px;
}

.signpage h1 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: bold;
}

.signpage p {
  margin-bottom: 20px;
  color: #555;
  font-weight: bold;
}

.email,
.pass1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}


.form-control {
  width: 100%;
  padding: 12px;
  background-color: rgb(229, 232, 236);
  border: 2px solid transparent; /* important */
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}


.form-control:focus {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}


.btn-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-create {
  background-color: #303b66;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-reset {
  background-color: #db4444;
  border: none;
  padding: 10px 34px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.sign1 {
  margin-top: 15px;
  font-size: 14px;
  
}

.sign1 a {
  color: #db4444;
  text-decoration: none;
}