.about-container {
  padding: 40px;
}


.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}


.about-text {
  width: 50%;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
   padding-left: 30%;
   color: rgb(245, 91, 91);
}

.about-text p {
  color: #555;
  line-height: 1.6;
  font-weight:600;
  padding-left: 30%;
}


.about-image img {
  width: 100%;
  max-width: 400px;
  padding-right: 10%;
}


.about-services {
  margin-top: 60px;
  text-align: center;
}

.about-services img {
  width: 100%;
  max-width: 1000px;
}

.about-employee {
  margin-top: 60px;
  text-align: center;
}

.about-employee img {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
}
.about2-servies{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.ui-left{
  flex: 1;
}

.ui-left img{
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.text-right{
  flex: 1;
  color: #555;
  line-height: 1.8;
  font-weight: 600;
  font-size: 16px;
}