

.footer {
  background-color: #111;
  color: white;
  padding: 40px 60px 20px;
  margin-top: 70px;
  font-size: small;
}



.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-logo{
    width: 350px;
    padding-right: 74px;

}



.footer-col h3 {
  margin-bottom: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}





.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
}

.footer-col ul li a:hover {
  color: white;
}



.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons i {
  cursor: pointer;
}

.social-icons i:hover {
  color: #db4444;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
}